#we_dreamers {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  overflow: hidden;
}

.wd-inner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.wd-interactive {
  position: absolute;
  z-index: 100;
}

.wd-room {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.wd-room.rounded-rect {
  border-radius: 10px;
}

.wd-room .nw {
  position: absolute;
  top: 20px;
  left: 20px;
}

.wd-room .sw {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.wd-room .stamp {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  position: absolute;
  width: 60px;
  height: 60px;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  font-size: 64px;
  overflow: visible;
  text-align: center;
}

.wd-room.current-room .stamp {
  left: auto;
  right: -10px;
  top: -10px;
}

.wd-door {
  position: absolute;
  z-index: 3;
}

.wd-player {
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  border: 1px solid #aaa;
}

.wd-player.you {
  border: 2px solid black;
  z-index: 1;  /* above all other players */
}

.wd-player.level-1 {
  width: 20px;
  height: 20px;
  margin: -10px 0px 0px -10px;
  border-radius: 20px;
}

.wd-player.level-2 {
  width: 30px;
  height: 30px;
  margin: -15px 0px 0px -15px;
  border-radius: 30px;
}

.wd-player.level-3 {
  width: 40px;
  height: 40px;
  margin: -20px 0px 0px -20px;
  border-radius: 40px;
}

.username-prompt-container {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 0;
}

.username-prompt {
  width: 300px;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.status-message {
  text-align: center;
  font-size: 24px;
  color: white;
}

.stats {
  padding: 10px 0;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0
  width: 200px;
  background-color: white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-right-radius: 5px;
  overflow: visible;
  max-height: 100%;
}

.stat-color {
  position: relative;
  float: left;
  width: 30px;
  margin-right: 10px;
}

.stat-r {
  margin-left: 10px;
  background-color: #a33;
}

.stat-g {
  background-color: #4a0;
}

.stat-b {
  background-color: #04a;
}

.stat-color .color-key {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  font-size: 14px;
}

.color-key-instructions {
  width: 120px;
  clear: both;
  padding: 10px 10px 0 10px;
  font-size: 12px;
}

.stamp-instructions {
  width: 120px;
  clear: both;
  padding: 10px 10px 0 10px;
  font-size: 12px;
}

.level-instructions {
  width: 120px;
  clear: both;
  padding: 10px 10px 0 10px;
  font-size: 12px;
}

.mono {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.stat-level, .stat-rooms-dug, .stat-notes-left, .stat-stamps-stamped {
  clear: both;
  padding: 10px 10px 0 10px;
}

.stat-level {
  padding-top: 0;
}

.room-info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.room-info {
  margin: auto;
  background-color: white;
  border: 2px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  width: 80%;
}

.room-info .text {
  padding: 5px 0 0 5px;
}

.room-info .text .creator {
  color: #999;
}

.fortune-form input {
  width: calc(100% - 6px);
}

.clearfix {
  clear: both;
}
