#we_dreamers {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  overflow: hidden;
}

.wd-inner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.wd-interactive {
  position: absolute;
  z-index: 100;
}

.wd-room {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.wd-room.rounded-rect {
  border-radius: 10px;
}

.wd-door {
  position: absolute;
  z-index: 3;
}

.wd-player {
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 0px 0px -10px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #aaa;
}

.wd-player.you {
  border: 3px solid black;
}

.username-prompt-container {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 0;
}

.username-prompt {
  width: 300px;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
